@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 
body {
    background-color: #E1E5EE;
    font-family: 'montserrat';
    color: #2A324B;
    margin: 6rem;
    margin-top: 10rem;
}

main {
    background-color: #fff;
    padding: 4rem;
    margin: 0;

}

.tab:focus {
    background-color: #fff;
    color:#2A324B;
    outline: none;
}

.page-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding-inline-start: 0;
}

.page-list > li {
    justify-content: space-between;
    padding: 1.5rem;
    padding-inline-start: 4rem;
    padding-inline-end: 4rem;
    font-weight: bold;
    background-color: #2A324B;
    color:#fff;
}
